/* .Menu {
    position: relative;
    padding-left: 1.25em;
  }
  .Menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: -0.35em;
    width: 1.5em;
    height: 0.10em;
    background: black;
    box-shadow: 
      0 0.4em 0 0 black,
      0 0.8em 0 0 black;
  }

  @media (min-width: 500px) {
      .Menu {
          display: none;
      }
  } */

.Menu {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 14px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.Menu div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .Menu {
    display: none;
  }
}
